{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
  <div class="container">Enter new password</div>
{% endblock %}

{% block banner_flag %}
  {% include 'banner.html' %}
{% endblock %}

{% block content %}
  {% if validlink %}
    <div class="container">
      <h1>Set a new password!</h1>
      <div class="row">
        <div class="col">
          <form method="POST">
            {% csrf_token %}
            <label for="id_new_password1" class="form-label">New Password</label>
            {{ form.new_password1|attr:'class:form-control' }}
            <label for="id_new_password2" class="form-label">Confirm New Password</label>
            {{ form.new_password2|attr:'class:form-control' }}
            <input type="submit" value="Change my password" class="mt-4 btn btn-primary" />
          </form>
        </div>
        <div class="col d-flex align-items-center">
          <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    </div>
  {% endif %}
{% endblock %}
