{% extends 'base.html' %}

{% block banner_left %}

  <p class="navbar-brand mb-0 d-none d-sm-block">Welcome {{ user }}!</p>

{% endblock banner_left %}

{% block banner_flag %}
    <form action="", method="POST">
      {% csrf_token %}
      <div id="month_year_div">
        {{form.month_year}}
      </div>
    </form>
  
  <h1 class="display-2 mt-3" id="heading">{{month}}, {{year}} Budget</h1>
{% endblock banner_flag %}

  {% block content %}
  <div class="container">

    <div class="row mb-0 mb-xl-4 mt-2">
      <div class="col-12 d-flex flex-column flex-lg-row justify-content-around col-lg-10 mx-lg-auto col-xl-12">
        <a class="lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:account' source %}">Create Account</a>
        <a class="lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:account_list' %}">Edit Accounts</a>         
        <a class="lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:transaction' %}">Add Transaction</a>
        <a class="lead btn btn-outline-success btn-lg" href="{% url 'budget:transaction_list' %}">View All Transactions</a>
      </div>
    </div>

    <div class="row">    
      <div id="budget-categories" class="col-12 col-lg-10 mx-lg-auto g-4 col-xl-4 text-start mt-0">
        <div class="d-flex">
          <h4 class="mx-auto my-4 my-xl-2">{{totals_reference.over_under}}</h4>
        </div>
        {% for category in categories %}
          <div class="card mb-2">
            <div class="card-body">
              <div class="card-text d-flex justify-content-between align-items-center">
                <h4 class="card-title card-headers"><a href="{% url 'budget:update_category' category.id %}">{{category}}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Balance</h6>
              </div>
              <ul>
                {% for subcategory in category.subcategories %}
                  <li class="card-text small d-flex justify-content-between subheader-links">
                    <span class="card-headers">
                      <a href="{% url 'budget:update_subcategory' category.id subcategory.id %}">
                      {% if subcategory.fund %}
                        <span class="fund-indicator"></span>
                      {% endif %}
                        <span>{{ subcategory }}</span>                      
                      </a>
                    </span>
                    <span>{{subcategory.current}}/{{subcategory.amount}}</span>                
                  </li>
                {% endfor %}
              </ul>
              <a href="{% url 'budget:subcategory' category.id %}" class="card-link small">Create Subcategory</a>
            </div>
          </div>
        {% endfor %}
        <ul>
          <li><a href="{% url 'budget:category' %}">Add Category</a></li>      
        </ul>
      </div> 

      <div class="col-12 col-xl-8 d-none d-md-flex flex-column mt-2 mt-lg-0">
        <div class="align-self-md-center">
          {% include './budget_table_content.html' %}
        </div>
      </div>

      <div class="d-block d-md-none">
        <p>test</p>
      </div>
    
    </div>
  </div>

{% endblock %}
