{% extends 'base.html' %}

{% block banner_left %}

  <p class="navbar-brand mb-0 d-none d-sm-block">Welcome {{ user }}!</p>

{% endblock banner_left %}

{% block banner_flag %}
    <form action="", method="POST">
      {% csrf_token %}
      <div id="month_year_div">
        {{form.month_year}}
      </div>
    </form>
  
  <h1 class="display-2 mt-3" id="heading">{{month}}, {{year}} Budget</h1>
{% endblock banner_flag %}

  {% block content %}
  <div class="container">

    <div class="row mb-0 mb-lg-4 mt-2">
      <div class="col-12 d-flex flex-column flex-lg-row justify-content-around col-lg-12 mx-lg-auto">
        <a class="budget-banner-link lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:account' source %}">Add/Edit Account</a>
        {% comment %} <a class="lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:account_list' %}">Edit Accounts</a>{% endcomment %}
        <a class="budget-banner-link lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:category' %}">Add Category</a>
        <a class="budget-banner-link lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:transaction' %}">Add Transaction</a>
        
        <a class="d-lg-none budget-banner-link lead btn btn-outline-success btn-lg mb-3 mb-lg-0" href="{% url 'budget:transaction_list' %}">View All Transactions</a>
        <a class="d-lg-none budget-banner-link lead btn btn-outline-success btn-lg" href="{% url 'budget:budget_table' %}">View Budget Table</a>
      
        <a class="d-none d-lg-inline budget-banner-link lead btn btn-outline-success btn-lg" href="{% url 'budget:transaction_list' %}">View All Transactions</a>
               
      </div>
      <div class="d-flex mt-4">
        <h2 class="over-under mx-auto mb-0">{{totals_reference.over_under}}</h2>
      </div>
    </div>

    <div class="row">    
       <div id="budget-categories" class="col-12 mx-lg-auto g-4 col-lg-4 text-start">
        {% for category in categories %}
          <div class="card mb-2">
            <div class="card-body">
              <div class="card-text d-flex justify-content-between align-items-center">
                <h4 class="card-title card-headers"><a href="{% url 'budget:update_category' category.id %}">{{category}}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">Balance</h6>
              </div>
              <ul>
                {% for subcategory in category.subcategories %}
                  <li class="card-text small d-flex justify-content-between subheader-links">
                    <span class="card-headers">
                      <a href="{% url 'budget:update_subcategory' category.id subcategory.id %}">
                      {% if subcategory.fund %}
                        <span class="fund-indicator"></span>
                      {% endif %}
                        <span>{{ subcategory }}</span>                      
                      </a>
                    </span>
                    <span>{{subcategory.current}}/{{subcategory.amount}}</span>                
                  </li>
                {% endfor %}
              </ul>
              <a href="{% url 'budget:subcategory' category.id %}" class="card-link small">Create Subcategory</a>
            </div>
          </div>
        {% endfor %}
        <ul>
          <li><a href="{% url 'budget:category' %}">Add Category</a></li>
        </ul>
      </div> 

      <div class="col-12 col-lg-8 d-none d-lg-flex flex-column mt-2 mt-lg-0">
        <div class="align-self-md-center">
          {% include './budget_table_content.html' %}
        </div>
      </div>
    
    </div>

    <div class="row">
      <div class="col-12 d-flex">
        <a class="btn btn-outline-danger btn-lg mx-auto mt-4 scary-delete-button" href="{% url 'budget:delete_month' month_id%}"><b>Delete Month</b></a>
      </div>
    </div>

  </div>

{% endblock %}
