{% extends 'base.html' %}

{% block banner_left %}

  <div>
    <a class="btn btn-success d-flex align-items-center" href="{% url 'budget:budget_dashboard' %}">
      <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg> Back
    </a>
  </div>

{% endblock banner_left %}

{% block content %}
  <div class="container">
    
    {% if not category_id %}
      <h2 class="mt-4">Add Category</h2>
    {% elif category_id %}    
      <h2 class="mt-4">Edit Category</h2>
    {% endif %}

    <form class="mt-3" action="", method="POST">
      {% csrf_token %}
      <div>
          {{form.month.as_hidden}}
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        {{form.name}}
      </div>
      <input class="mt-1 btn btn-success" type="submit">
    </form>

    {% if category_id %}
      <p class="mt-4"><a href="{% url 'budget:delete_category' category_id %}">Delete Category</a></p>  
    {% endif %}

  </div>
{% endblock %}