{% extends 'base.html' %}

{% block banner_left %}

    
  {% if source == "subcategory_view" %}
    <div>
        <a class="btn btn-success d-flex align-items-center" href="{% url 'budget:update_subcategory' category_id subcategory_id %}">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> Back
        </a>
    </div>
    {% elif source == 'list_view' %}
    <div>
        <a class="btn btn-success d-flex align-items-center" href="{% url 'budget:transaction_list' %}">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> Back
        </a>
    </div>
    {% elif source == "create" and not vals %}
    <div>
        <a class="btn btn-success d-flex align-items-center" href="{% url 'budget:budget_dashboard' %}">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> Back
        </a>
    </div>
    {% elif source == "create" and vals %}
    <div>
        <a class="btn btn-success d-flex align-items-center" href="{% url 'budget:update_subcategory' category_id subcategory_id %}">
        <svg class="me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg> Back
        </a>
    </div>
  {% endif %}

{% endblock banner_left %}

{% block content %}
    <div class="container">

    {% if subcategories_exist %}

        {% if form.amount.errors %}
            <div>{{form.amount.errors}}</div>
        {% endif %}
        
        {% if not update %}
            <h2 class="mt-4">Create Transaction</h2>
        {% elif update %}    
            <h2 class="mt-4">Edit Transaction</h2>
        {% endif %}

        <form class="mt-3" action="", method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="subcategory">Subcategory</label>
                {{form.subcategory}}
            </div>
            <div class="mb-3">
                <label class="form-label" for="expense">Transaction Category</label>
                {{form.expense}}
            </div>
            <div class="mb-3">
                <label class="form-label" for="account">
                    Account
                    <a href="{% url 'budget:account' source %}?vals={{vals}}">(Create New Account)</a>
                </label>
                {{form.account}}
            </div>
            <div class="row">
                <div class="mb-3 col-12 col-sm-6">
                    <label class="form-label" for="amount">Amount</label>
                    {{form.amount}}
                </div>
                <div class="mb-3 col-12 col-sm-6">
                    <label class="form-label" for="date">Date</label>
                    {{form.date}}
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="vendor">Vendor</label>
                {{form.vendor}}
            </div>
            <div class="mb-3">
                <label class="form-label" for="notes">Notes</label>
                {{form.notes}}
            </div>
            <input class="mt-1 btn btn-success" type="submit">
        </form>
        {% if update %}
            <p class="mt-4"><a href="{% url 'budget:delete_transaction' source subcategory_id transaction_pk %}">Delete Transaction</a></p>
        {% endif %}
    {% else %}
    <div class="container">
        <h4 class="mt-4">You need to create Subcategories before adding Transactions. Go to your Dashboard to add some!</h4>
    </div>
    {% endif %}

    </div>
{% endblock %}